*~
*#
__pycache__/
src/friendlydateparser/antlr/*.interp
src/friendlydateparser/antlr/*.tokens
src/friendlydateparser/antlr/FriendlyDateLexer.py
src/friendlydateparser/antlr/FriendlyDateListener.py
src/friendlydateparser/antlr/FriendlyDateParser.py
src/friendlydateparser/antlr/FriendlyDateVisitor.py
antlr/Timezone.g4
notebooks/
dist/
antlr-*-complete.jar
ve/
test-ve/
